target/
!.mvn/wrapper/maven-wrapper.jar
HELP.md

# Environment keys
.env
.env.*
*.env

# IDEs
.idea/
*.iws
*.iml
*.ipr
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# OS files
Thumbs.db
.DS_Store