@import "tailwindcss";

@utility scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled,
[role="button"]:disabled,
input:disabled,
textarea:disabled {
    cursor: not-allowed;
}